@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.jura-700 {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.jura-600 {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
